.logo{
    height:50px
}

body{
    background:#f3f3f3;
}

.page-title{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    line-height: 1.2;
}

#parameters{
    background:#eea;
    width: 800px;
    margin: 0 auto;
    overflow: hidden;

}

#graphic{
    background:#eee;
    width: 800px;
    margin: 0 auto;
    overflow: hidden;

}

.form-container{
    width: 400px;
    margin: 10px auto;
}
.equation{
    text-align: center;
}

#graphic img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
