{% macro render_field(field) %}
    <div class = "form-group" >
      {{ field.label }}

      <div class="col-sm-10">
         {{ field(**kwargs)|safe }}
        {% if field.errors %}
            <ul class=errors>
            {% for error in field.errors %}
              <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}
      </div>
  </div >
{% endmacro %}
