{% extends "base.html" %}
{% block head %}
    <link rel = "stylesheet" href = "{{url_for('static',filename='css/cylinder.css')}}" >

{% endblock %}
{% block title %}Cycle{% endblock %}
{% block parameters %}

    <h3 class = "page-title" > Cycle </h3 >
<!--    <p class = "equation" > <span > Equation Expression: </span > <span > <var>y</var> = <var>m</var><var>x*2</var> + <var>b</var> </span > </p >-->
    <p class = "equation" > <span > Equation Expression: </span > <span > \((x-a)^2 + (y-b)^2 = r^2\) </span > </p >
    <p class="equation"><span > Center <strong>(a,b)</strong> </span > <span > Radius <strong>r</strong></span ></p>
    {% from "_formhelpers.html" import render_field %}
    <form action = "" class="form-horizontal" method="POST">
       <div class = "form-container" >
            {{ render_field(form.a) }}
            {{ render_field(form.b) }}
            {{ render_field(form.r) }}


            <div class = "form-group" >
                <div class="col-sm-offset-2 col-sm-10">
                    <button type = "submit" class = "btn btn-primary" > Drawing </button >
                </div>
            </div >
           <p class = "equation" > <span > Real Expression: </span > <span > {{expression}} </span > </p >
        </div>
    </form >

     <script src="{{ url_for('static', filename='js/addinputclass.js') }}"></script>

{% endblock %}

{% block graphic%}
    <img src="{{src}}" />
{% endblock %}
