{% extends "base.html" %}
{% block head %}
    <link rel = "stylesheet" href = "{{url_for('static',filename='css/line.css')}}" >
{% endblock %}
{% block title %}Cylinder{% endblock %}
{% block parameters %}

    <h3 class = "page-title" > Cylinder </h3 >
<!--    <p class = "equation" > <span > Equation Expression: </span > <span > \(y = ax^2 + bx + c\) </span > </p >-->
 {% from "_formhelpers.html" import render_field %}
    <form action = "" class="form-horizontal" method="POST">
       <div class = "form-container" >
            {{ render_field(form.r) }}
            {{ render_field(form.h) }}
            <div class = "form-group" >
                <div class="col-sm-offset-2 col-sm-10">
                    <button type = "submit" class = "btn btn-primary" > Drawing </button >
                </div>
            </div >
           <p class = "equation" > <span > {{expression}} </span > </p >
        </div>
    </form >

     <script src="{{ url_for('static', filename='js/addinputclass.js') }}"></script>
{% endblock %}
{% block graphic%}
    <img src="{{src}}" />
{% endblock %}
