{% extends "base.html" %}
{% block head %}
    <link rel = "stylesheet" href = "{{url_for('static',filename='css/line.css')}}" >
{% endblock %}
{% block title %}Cylinder2{% endblock %}
{% block parameters %}

    <h3 class = "page-title" > Cylinder2 </h3 >
<!--    <p class = "equation" > <span > Equation Expression: </span > <span > \(y = ax^2 + bx + c\) </span > </p >-->
<!--    <p class="equation"><span > Center <strong>(a,b)</strong> </span > <span > Radius <strong>r</strong></span ></p>-->
    <form action = "" class="form-horizontal" method="POST">
       <div class = "form-container" >
           <div class = "form-group" >
                <label for="coordinate1" class="col-sm-2 control-label">R= </label>
                <div class="col-sm-10">
                    <input type = "text" class = "form-control" placeholder= "Input Radius value(float)"  id="coordinate1"  name="coordinate1" >
                </div>
            </div >
            <div class = "form-group" >
                <label for="coordinate2" class="col-sm-2 control-label">H=</label>
                <div class="col-sm-10">
                    <input type = "text" class = "form-control" id="coordinate2" placeholder= "Input Height value(float)" name = "coordinate2" >
                </div>
            </div >
            <div class = "form-group" >
                <div class="col-sm-offset-2 col-sm-10">
                    <button type = "submit" class = "btn btn-primary" > Drawing </button >
                </div>
            </div >
           <p class = "equation" > <span ></span> {{expression}} </p >
        </div>
    </form >

{% endblock %}
