{% extends "base.html" %}
{% block head %}
<!--    <link rel = "stylesheet" href = "{{url_for('static',filename='css/line.css')}}" >-->
{% endblock %}
{% block title %}Ellipse{% endblock %}
{% block parameters %}

    <h3 class = "page-title" > Ellipse </h3 >
    <p class = "equation" > <span > Equation Expression: </span > <span > \(\frac{(x-h)^2}{a^2}+\frac{(y-k)^2}{b^2}=1\) </span > </p >
    {% from "_formhelpers.html" import render_field %}
    <form action = "" class="form-horizontal" method="POST">
       <div class = "form-container" >
            {{ render_field(form.a) }}
            {{ render_field(form.b) }}
            {{ render_field(form.h) }}
            {{ render_field(form.k) }}


            <div class = "form-group" >
                <div class="col-sm-offset-2 col-sm-10">
                    <button type = "submit" class = "btn btn-primary" > Drawing </button >
                </div>
            </div >
           <p class = "equation" > <span > Real Expression: </span > <span > {{expression}} </span > </p >
        </div>
    </form >

     <script src="{{ url_for('static', filename='js/addinputclass.js') }}"></script>
{% endblock %}

{% block graphic%}
    <img src="{{src}}" />
{% endblock %}
