{% extends "base.html" %}
{% block head %}
<!--    <link rel = "stylesheet" href = "{{url_for('static',filename='css/line.css')}}" >-->
{% endblock %}
{% block title %}Curve{% endblock %}
{% block parameters %}

    <h3 class = "page-title" > Curve </h3 >
    <p class = "equation" > <span > Curve Equation Expression: </span > <span >{{expression_curve}} </span > </p >

    {% from "_formhelpers.html" import render_field %}
    <form action = "" class="form-horizontal" method="POST">
       <div class = "form-container" >
            {{ render_field(form.a) }}
            {{ render_field(form.b) }}
            {{ render_field(form.c) }}
<!--            <p class = "equation" > <span > Real Expression: </span > <span > {{expression_curve}} </span > </p >-->
            <hr>

            <p class = "equation" > <span > Straightline Equation Expression: </span > <span > {{expression_straightline}} </span > </p >
            {{ render_field(form.k) }}
            {{ render_field(form.m) }}

            <div class = "form-group" >
                <div class="col-sm-offset-2 col-sm-10">
                    <button type = "submit" class = "btn btn-primary" > Drawing </button >
                </div>
            </div >
<!--           <p class = "equation" > <span > Real Expression: </span > <span > {{expression_straightline}} </span > </p >-->
        </div>
    </form >

     <script src="{{ url_for('static', filename='js/addinputclass.js') }}"></script>
{% endblock %}

{% block graphic%}
    <img src="{{src}}" />
{% endblock %}
