{% extends "base.html" %}
{% block head %}
<!--    <link rel = "stylesheet" href = "{{url_for('static',filename='css/line.css')}}" >-->
{% endblock %}
{% block title %}Triangle{% endblock %}
{% block parameters %}

    <h3 class = "page-title" > Triangle </h3 >
    <p class = "equation" > <span > Equation Expression: </span > <span > \(Coordinates 1 (x_1, y_1),Coordinates 2 (x_2, y_2),Coordinates 3 (x_3, y_3)\) </span > </p >
<!--    <p class="equation"><span > Center <strong>(a,b)</strong> </span > <span > Radius <strong>r</strong></span ></p>-->
     {% from "_formhelpers.html" import render_field %}
    <form action = "" class="form-horizontal" method="POST">
       <div class = "form-container" >
            {{ render_field(form.x1) }}
            {{ render_field(form.y1) }}
            {{ render_field(form.x2) }}
            {{ render_field(form.y2) }}
            {{ render_field(form.x3) }}
            {{ render_field(form.y3) }}
            <div class = "form-group" >
                <div class="col-sm-offset-2 col-sm-10">
                    <button type = "submit" class = "btn btn-primary" > Drawing </button >
                </div>
            </div >
           <p class = "equation" > <span > Real Expression: </span > <span > {{expression}} </span > </p >
        </div>
    </form >
     <script src="{{ url_for('static', filename='js/addinputclass.js') }}"></script>
{% endblock %}

{% block graphic %}
    <img src="{{src}}" />
{% endblock %}
